# OS specific files
.DS_Store

# Editor- and temporary files
*.tmp
*~

# C building artifacts
C/main.dSYM
C/tb8
C/a.out

# Assembly building artifacts
PAL/*.bin
PAL/*.lst
PAL/*.prm

# Created tools
tools/palbart
