# OS specific files
.DS_Store

# Editor- and temporary files
*.tmp
*~

# C building artifacts
main.dSYM
tb8
a.out

# Assembly building artifacts
PAL/*.bin
PAL/*.lst
PAL/*.prm
PAL/*.map
PAL/*.rim

# Created tools
tools/palbart
